@font-face {
    font-family: EestiPro Bold ;
    src: url(../fonts/gteestiprodisplay_bold.otf);
}
@font-face {
    font-family: EestiPro Regular ;
    src: url(../fonts/gteestiprodisplay_regular.otf);
}
@font-face {
    font-family: EestiPro Light;
    src: url(../fonts/gteestiprodisplay_light.otf);
  }
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: EestiPro Regular ;
    font-size: 14px;
    color: #070707;
    
    a{
        text-decoration: none;
    }
    ul,li,ol{
        list-style: none;
    }
}

.wrapper{
    .container{
        max-width: 1380px;
        margin: 0 auto;
        .pre__header{
            padding: 15px 0;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            .left__side{
                display: flex;
                flex-direction: row;
                gap: 10px;
                .currency{
                    color: #767676;
                    font-size: 14px;
                }
                .geo{
                    display: flex;
                    flex-direction: row;
                    gap: 5px;
                    img{
                        width: 15px;
                        height: 15px;
                    }
                }
                .adress{
                    a{
                        color: #0051ff;
                        font-size: 15px;
                    }
                }
            }
            .right__side{
                display: flex;
                flex-direction: row;
                gap: 15px;
                p{
                    color: #767676;
                    font-size: 14px;
                }
            }
        }
        header{
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            .header__logo{
                img{
                    width: 127px;
                    height: 40px;
                }
            }
            .header__menu{
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 7px;
                background-color: #005bff;
                padding: 10px 18px;
                border-radius: 8px;
                p{
                    color: #FFF;
                }
                
            }
            .search__bar{
                border: #0051ff 2px solid;
                border-radius: 10px;
                display: flex;
                flex-direction: row;
                align-items: center;
                background-color: #fff;
                
                .search__bar-wrapper{
                    width: 594px;
                    height: 39px;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    .search__btn{
                        border: #0051ff 2px solid;
                        border-radius: 7px;
                        width: 74px;
                        height: 39px;
                        left: 520px;
                        position: relative;
                        background-color: #0051ff;
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: center;
                        img{
                            
                        }
                    }

                }
            }
            .header__nav{
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 50px;
                .header__item{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    gap: 5px;
                    img{
                        width: 24px;
                        height: 24px;
                    }
                    p{
                        font-size: 14px;
                    }
                }
            }
        }
        .category{
            margin-top: 20px;
            .category__wrapper{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                gap: 20px;
                .category__item{
                    display: flex;
                    flex-direction: row;
                    gap: 10px;
                    img{
                        width: 15px;
                        height: 14px;
                    }
                    p{
                        font-size: 14px;
                    }
                }
            }
        }
        main{
            margin-top: 20px;
            display: flex;
            flex-direction: column;
            .main__header{
                display: flex;
                flex-direction: column;
                gap: 20px;
                .product__category{
                    a{
                        color: #0051ff;
                    }
                    
                }
                .product{
                    display: flex;
                    flex-direction: column;
                    .product__name{
                        font-size: 24px;
                        color: #070707;
                        font-weight: 700;
                    }
                    .product__revievs{
                        margin-top: 10px;
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        .revievs{
                            display: flex;
                            flex-direction: row;
                            gap: 20px;
                            align-items: center;
                            .stars{
                                align-items: center;
                                display: flex;
                                a{
                                    padding: 0 0 0 10px;
                                    color: #0051ff;
                                    font-weight: 600;
                                }
                            }
                            .revievs__item{
                                color: #0051ff;
                                display: flex;
                                flex-direction: row;
                                a{
                                    padding: 0 0 0 10px;
                                    color: #0051ff;
                                    font-weight: 600;
                                }
                            }
                        }
                        .product__code{
                            color: #767676;
                            font-weight: 300;
                        }
                    }
                    .after{
                        display: block;
                        padding: 10px 0;
                        &::after{
                            content: "";
                            height: 1px;
                            display: block;
                            width: 100%;
                            background-color: #767676;
                            opacity: 0.4;
                        }
                    }
                }
            }
            .main__body{
                margin-top: 15px;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                gap: 30px;
                .photo__side{
                    display: flex;
                    flex-direction: row;
                    gap: 10px;
                    .previev__photo{
                        display: flex;
                        flex-direction: column;
                        gap: 10px;
                        cursor: pointer;
                        .selected{
                            border: 2px solid #0051ff;
                            border-radius: 6px;
                        }
                    }
                    .main__photo{
                        img{
                            border-radius: 0 30px 30px 0;
                            cursor: pointer;
                        }
                    }
                }
                .info__side{
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    .brand{
                        display: flex;
                        flex-direction: row;
                        gap: 10px;
                        justify-content: start;
                        .brand__photo{
                        }
                        .brand__name{
                            display: flex;
                            flex-direction: column;
                            p{
                                font-size: 16px ;
                            }
                            .original{
                                display: flex;
                                flex-direction: row;
                                align-items: center;
                                gap: 10px;
                                p{
                                    font-size: 14px;
                                    color: #767676;
                                }
                            }
                        }
                    }
                    .product__type{
                        display: flex;
                        flex-direction: column;
                        gap: 20px;
                        p{
                            color: #767676;
                            font-size: 15px;
                            font-family: EestiPro Light;
                        }
                        .type__grid{
                            display: grid;
                            grid-template-columns: repeat(2, 1fr);
                            grid-template-rows: repeat(2, 1fr);
                            grid-column-gap: 20px;
                            grid-row-gap: 20px;
                            .grid__item{
                                padding: 10px 16px;
                                a{
                                    font-size: 16px;
                                    color: #070707 ;
                                }
                            }
                            .selected{
                                border: #0051ff 2px solid;
                                border-radius: 8px;
                            }
                        }
                        .description{
                            display: flex;
                            flex-direction: column;
                            gap: 15px;
                            .type{
                                display: flex;
                                flex-direction: row;
                                justify-content: space-between;
                                align-items: center;
                                h6{
                                    color: #767676;
                                    font-family: EestiPro Light;
                                }
                                p{
                                    color: #0051ff;
                                }
                            }
                            .go-to{
                                margin-top: 10px;
                                color: #0051ff;
                            }
                        }
                    }
                }
                .price__side{
                    max-width: 30%;
                    display: flex;
                    flex-direction: column;
                    gap: 50px;
                    .price__card{
                        border-radius: 30px;
                        display: flex;
                        flex-direction: column;
                        gap: 20px;
                        .discount__price{
                            display: flex;
                            flex-direction: row;
                            align-items: end;
                            gap: 10px;
                            span{
                                width: 122px;
                                height: 40px;
                                background-color: #5AC15C;
                                border-radius: 8px;
                                font-size: 26px;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                color: #FFF;
                                font-weight: 700;
                                letter-spacing: 2px;
                            }
                        }
                        .price{
                            display: flex;
                            flex-direction: row;
                            gap: 5px;
                            align-items: center;
                            color: #767676;
                            font-size: 14px;
                            .gray{
                                font-size: 20px;
                                color: #767676;
                                font-weight: 600;
                            }
                            span.prev{
                                text-decoration: line-through;
                                color: #767676;
                                font-family: EestiPro Light;
                            }
                        }
                        .credit{
                            text-align: center;
                            letter-spacing: 0.5px;
                            span{
                                padding: 5px;
                                background-color: #FED540;
                                border-radius: 8px;
                            }
                        }
                        .buttons{
                            display: flex;
                            flex-direction: row;
                            gap: 10px;
                            justify-content: space-between;
                            .cart__delivery{
                                display: flex;
                                flex-direction: column;
                                align-items: center;
                                gap: 10px;
                                .delivery__btn{
                                    width: 146px;
                                    height: 57px;
                                    color: #FFF;
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    border-radius: 15px;
                                    font-size: 16px;
    
                                    background-color: #E53659;
    
                                }
                                p{
                                    font-size: 13px;
                                }
                            }
                            .cart{
                                display: flex;
                                flex-direction: column;
                                align-items: center;
                                gap: 10px;
                                .cart__btn{
                                    width: 146px;
                                    height: 57px;
                                    color: #FFF;
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    border-radius: 15px;
                                    font-size: 16px;
    
                                    background-color: #005BFF;
    
                                }
                                p{
                                    font-size: 13px;
                                }

                            }
                        }
                    }
                    .delivery{
                        display: flex;
                        flex-direction: column;
                        gap: 20px;
                        h1{
                            font-size: 22px;
                        }
                        .first__adress{
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            gap: 10px;
                            p{
                                font-size: 16px;
                            }
                            .method{
                                font-size: 16px;
                                color: #767676;
                            }
                        }
                        .shipping{
                            p{
                                font-size: 16px;
                            }
                            .method{
                                font-size: 16px;
                                color: #767676;
                            }
                        }
                    }
                }
            }
        }
    }
}