@font-face {
  font-family: EestiPro Bold;
  src: url(../fonts/gteestiprodisplay_bold.otf);
}
@font-face {
  font-family: EestiPro Regular;
  src: url(../fonts/gteestiprodisplay_regular.otf);
}
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: EestiPro Regular;
  font-size: 16px;
}
* a {
  text-decoration: none;
}
* ul, * li, * ol {
  list-style: none;
}

.wrapper .container {
  max-width: 1380px;
  margin: 0 auto;
}
.wrapper .container .pre__header {
  padding: 15px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.wrapper .container .pre__header .left__side {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.wrapper .container .pre__header .left__side .currency {
  color: #767676;
  font-size: 14px;
}
.wrapper .container .pre__header .left__side .geo {
  display: flex;
  flex-direction: row;
  gap: 5px;
}
.wrapper .container .pre__header .left__side .geo img {
  width: 15px;
  height: 15px;
}
.wrapper .container .pre__header .left__side .adress a {
  color: #0051ff;
  font-size: 15px;
}
.wrapper .container .pre__header .right__side {
  display: flex;
  flex-direction: row;
  gap: 15px;
}
.wrapper .container .pre__header .right__side p {
  color: #767676;
  font-size: 14px;
}
.wrapper .container header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.wrapper .container header .header__logo img {
  width: 127px;
  height: 40px;
}
.wrapper .container header .header__menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 7px;
  background-color: #005bff;
  padding: 10px 18px;
  border-radius: 8px;
}
.wrapper .container header .header__menu p {
  color: #FFF;
}
.wrapper .container header .search__bar {
  border: #0051ff 2px solid;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #fff;
}
.wrapper .container header .search__bar .search__bar-wrapper {
  width: 594px;
  height: 39px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.wrapper .container header .search__bar .search__bar-wrapper .search__btn {
  border: #0051ff 2px solid;
  border-radius: 7px;
  width: 74px;
  height: 39px;
  left: 520px;
  position: relative;
  background-color: #0051ff;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.wrapper .container header .header__nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 50px;
}
.wrapper .container header .header__nav .header__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}
.wrapper .container header .header__nav .header__item img {
  width: 24px;
  height: 24px;
}
.wrapper .container header .header__nav .header__item p {
  font-size: 14px;
}
.wrapper .container .category {
  margin-top: 20px;
}
.wrapper .container .category .category__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
}
.wrapper .container .category .category__wrapper .category__item {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.wrapper .container .category .category__wrapper .category__item img {
  width: 15px;
  height: 14px;
}
.wrapper .container .category .category__wrapper .category__item p {
  font-size: 14px;
}/*# sourceMappingURL=main.css.map */